*.vcxproj
*.vcxproj.*
*.sln
*.spv

Makefile

bin/
build/
Debug/
x64/
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Don't include doxygen files, we have the config
docs/generated/

assets/
third_party/*

!third_party/CMakeLists.txt

# Don't feel like including the license so we're not distributing it :^)
sky.comp
