*.vcxproj
*.vcxproj.*
*.sln
*.spv

bin/
build/
Debug/
x64/
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

assets/
third_party/*

!third_party/CMakeLists.txt

# Don't feel like including the license so we're not distributing it :^)
sky.comp