*.vcxproj
*.vcxproj.*
*.sln
*.spv

Makefile
compile_commands.json

bin/
build/
Debug/
x64/
.vs/
.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Don't include doxygen files, we have the config
docs/generated/

# Don't include test assets
assets/

# Don't include vendored libraries
third_party/imgui
third_party/stb_image
third_party/vma

# Don't feel like including the license so we're not distributing it :^)
sky.comp
